.main-container-wrapper {
    max-width: initial !important;
    padding: 0px 120px 0px 120px !important;
}
.page-content-wrapper {
    padding: 0px !important;
}
.card-body .container {
    padding: 0px !important;
    margin: 0px !important;
    margin: auto !important;
}
